<launch>
  
  <arg name="x_pos" default="-2.0"/>
  <arg name="y_pos" default="-0.5"/>
  <arg name="z_pos" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find my_gazebo)/worlds/my_plaza.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  
  <!-- Spawn the R2D2 robot -->   
  
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find brita_r2d2)/urdf/r2d2.urdf.xacro'" />   
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_r2d2" args="-urdf -param robot_description -model r2d2 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)" />
  
  
  <!-- Spawn the model.sdf -->
  
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_sdf"  args="-sdf -file $(find my_gazebo)/models/my_plaza/model.sdf -model my_plaza -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)" />
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type ="robot_state_publisher"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type ="joint_state_publisher"/>
  <node name="rviz" pkg ="rviz" type ="rviz" args="-d $(find brita_r2d2)/config/urdf.rviz"/>
</launch>

